/* Inheritance of width and height */
html, body {
	height: 100%;
	width: 100%;
	margin: 0;
}
.div-border {
	border: 1px solid black;
	margin: 1%;
}
/* Set border none gallery division and make the contained elements become relative to its positionning */
#gallery-images {
	position: relative;
	border: none;
}
/* Set the image to absolute but stay relative to the parent div */
#overlay-image {
	position: absolute;
	top: 10%;
	left: 2%;
}
/* display menu list horizontally */
#menu ul li {
	margin: 1%;
	height: 100%;
	display: inline;
	border: 1px dotted #CCCCCC;
}
/* List of Images */
.image-item {
	float: left;
	position: relative;
	width: 205px;
	border: 1px solid grey;
	margin: 1%;
}
.image-item img {
	margin: 1%;
}


/* CSS is hierarchiral, therefore the priority of CSS rules overloading other goes from top (less) to bottom(higher) */
/*Media query*/
/* --------------- Smartphone view ------------ */
@media only screen and (max-width : 480px) {
/* Change dotted line color on smartphone devices */
#menu ul li {
	margin: 1%;
	height: 100%;
	display: block;
	border: 1px solid red;
}

/* Show only one image on a smartphone view */
#list-imgs {
	width: 10%;

}
}
/* -------------- End Smartphone view --------- */

/* -----------Tablet View----------- */ 
@media only screen and (max-width : 850px) and (min-width : 481px) {
/* Change dotted line color on tablet devices */
#menu ul li {
	margin: 1%;
	height: 100%;
	display: inline;
	border: 2px dotted blue;
}

/* Show only 4 images on a tablet view */
#list-imgs {
	width:80%;
	.image-item {
	float: left;
	position: relative;
	width: 100%;
	border: 1px solid grey;
	margin: 1%;

}

